/* #ff5000 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ddd;
  font-family: sans-serif;
}

.container {
  width: 920px;
  max-width: 80%;
  margin: auto;
}

.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  padding: 0 12px;
  line-height: 20px;
  height: 30px;
  max-height: 30px;
  background: #fff;
  font-weight: 700;
  border: 2px solid #dae3f3;
  border-radius: 0;
  color: #272c34;
  transition-timing-function: ease-in-out;
  transition-property: box-shadow;
  transition-duration: 150ms;
  :hover {
    box-shadow: 0 2px 2px rgb(39 44 52 / 12%);
  }
}

.btn-icon {
  width: 20px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.loader {
  display: block;
  margin: auto;

  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff5000;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.center {
  text-align: center;
}

.link-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.form-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

textarea {
  height: 50px;
}

.header {
  height: 56px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 20px;
  background-color: #ff5000;
  margin-bottom: 12px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.logo:hover {
  text-decoration: none !important;
}

.nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.auth-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.error {
  color: tomato;
  text-transform: capitalize;
  font-weight: bold;
}

.link .row {
  display: flex;
  align-items: center;
  gap: 3px;
}

.search {
  display: flex;
  align-items: center;
  gap: 3px;
}

/* UTILS */

.ml-auto {
  margin-left: auto;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 12px;
}

.ml-1 {
  margin-left: 16px;
}

.bold {
  font-weight: 600;
}

/* GENERAL */

ul {
  list-style-type: none;
}

input,
textarea {
  width: 350px;
  padding: 5px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

a {
  color: #000;
}

a:link {
  text-decoration: none;
}

a:link:hover {
  text-decoration: underline;
  color: #000;
}
